.ax-events-group-timeline {
  .timeline {
    margin: 50px 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
  }
  .timeline li {
    transition: all 200ms ease-in;
  }

  .timestamp {
    margin-bottom: 0.5rem;
    //padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .date {
    color: #adadad;
  }
  .status {
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    border-top: 4px solid #adadad;
    position: relative;
    transition: all 100ms ease-in;
  }

  .status span {
    padding-top: 20px;
    border: 5px;
    background-color: white;
    color: white;
    margin-top: 30px;
  }

  .item {
    width: 5%;
  
  }
  .item-box-0{
    margin-left: 5rem;
  }
  .item-box-1{
    margin-left: 3rem;
  }
  .item-box-18{
    margin-left: -8rem;
  }
  .item-box-19{
    margin-left: -10rem;
  }

  .status-empty {
    top: 28px;
  }

  .item-type {
    font-size: 0.8rem;
  }
  .custom-select {
    width: 8rem !important;
  }
  .item:hover{
    .item_type_text {display: block !important;}
    .status span:before {
      top: -35px;
      border: 4px solid map-get($theme-colors, 'primary');
      background-color: map-get($theme-colors, 'primary');
    }
    .status span {
    .item-box {
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
      padding: 4px;
    }
    padding-top: 1rem;
    z-index: 2;
    color: black;
    margin-top: 20px;
    width: 16rem;
    position: absolute;
    top: -20px; 
    left: 0px;
    &.item-type-15{
      .item-box {
      position: absolute;
      left: -3rem !important;
      }
    }   
    &.item-type-16{
      .item-box {
      position: absolute;
      left: -5rem !important;
      }
    }    
    &.item-type-17{
      .item-box {
      position: absolute;
      left: -6rem !important;
      }
    }
    &.item-type-18{
      .item-box {
      position: absolute;
      left: -8rem !important;
      }
    }
    &.item-type-19{
      .item-box {
      position: absolute;
      left: -12rem !important;
      }
    }
  }
  .date{
    color: map-get($theme-colors, 'primary');;
  }
  .item_type_detail {
    
    background-color: map-get($theme-colors, 'primary');;
    border-radius: 25px;
    width: 1rem;
    height: 1rem;
    color: white;
      left: -70px;
    .item_type_detail-text {
      font-size: 0.7rem;
      margin-top: 2px;
    }
  }
}

  .status span:before {
    z-index: 3;
    content: '';
    background-color: #e8eeff;
    border-radius: 25px;
    border: 4px solid #adadad;
    position: absolute;
    top: -15px;
   
    transition: all 100ms ease-in;
    &:hover {
      border: 4px solid black;
    }
  }
  @for $i from 1 to 100 {    
    .item-type-length-#{$i} {
      &.status span:before {
        width: $i * 3px;
        height: $i * 3px;
        max-width: 24px;
        max-height: 24px;
        @if $i == 1{
          top: -7px !important; 
          left: 2rem !important;
          @media only screen and (max-width: 1700px) {
            left: 1.1rem !important;
          }
          @media only screen and (max-width: 1200px) {
            left: 0.3rem !important;
          }
        }
        @else if $i == 2{
          top: -8px !important; 
          left: 1.9rem !important;
          @media only screen and (max-width: 1700px) {
            left: 1.1rem !important;
          }
          @media only screen and (max-width: 1200px) {
            left: 0.3rem !important;
          } 
        }
        @else if $i == 3{
          top: -10px !important; 
          left: 1.8rem !important;
          @media only screen and (max-width: 1700px) {
            left: 1.3rem !important;
          }
          @media only screen and (max-width: 1200px) {
            left: 0.3rem !important;
          } 
        }
        @else if $i == 4{
          top: -12px !important; 
          left: 1.7rem !important;
          @media only screen and (max-width: 1700px) {
            left: 1.2rem !important;
          }
          @media only screen and (max-width: 1200px) {
            left: 0.5rem !important;
          } 
        }
        @else if $i == 5{
          top: -14px !important; 
          left: 1.7rem !important;
          @media only screen and (max-width: 1700px) {
            left: 1rem !important;
          }
          @media only screen and (max-width: 1200px) {
            left: 0.5rem !important;
          }
        }
        @else if $i == 6{
          top: -16px !important; 
          left: 1.6rem !important;
          @media only screen and (max-width: 1700px) {
            left: 0.9rem !important;
          }
          @media only screen and (max-width: 1200px) {
            left: 0.5rem !important;
          } 
        }
        @else if $i >= 7{
          top: -16px !important; 
          left: 1.4rem !important;
          @media only screen and (max-width: 1700px) {
            left: 0.8rem !important;
          }
          @media only screen and (max-width: 1200px) {
            left: 0.5rem !important;
          } 
        }
        // @else {
        //   // top: -($i * 3px / 2) - 4px !important;
        //   // left: ($i * 3px) - ($i - 4px) !important;
        //   // @media only screen and (max-width: 1700px) {
        //   //   left: 0.8rem !important;
        //   // }
        //   // @media only screen and (max-width: 1200px) {
        //   //   left: 0.5rem !important;
        //   // } 
        // }
      }   
    }
  }

  .swiper-control {
    text-align: right;
  }

  .swiper-container {
    width: auto;
    height: 20rem;
  
    overflow: hidden;
    padding: 0 20px 30px 20px;
  }
  .swiper-slide {
    width: auto;
    text-align: center;
    font-size: 1rem;
  }
  .swiper-slide:nth-child(2n) {
    width: auto;
  }
  .swiper-slide:nth-child(3n) {
    width: auto;
  }
}

  .detailedDataAsync-spinner {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

