.ballon {
    width: $width-basic-information-ballon;
    border-radius: $radius-basic-information-ballon;
    height: $height-basic-information-ballon;
    background: $primary;
    color: $corporative-white;
}