$sectoral-num-columns: 4;
$first-column-sectoral-width: 25%;

.financial-statements-table {
  border: 0;
  
  &.sectoral-table {
    .hide-header tbody tr:first-child {
      display: none !important;
    }
    .head-table thead {
      visibility: visible;
      background-color: $white-smoke;

      tr:first-child th:first-child {
        width: $first-column-sectoral-width;
      }

      th {
        width: calc((100% - #{$first-column-sectoral-width}) / #{$sectoral-num-columns});
      }
    }

    .main-table {
      thead th:first-child {
        width: $first-column-sectoral-width;
      }

      td + td {
        width: calc((100% - #{$first-column-sectoral-width}) / #{$sectoral-num-columns});
      }

      // .indentation-1 {
      //   background-color: $secondary-dark;
      //   color: $corporative-white;
      // }

      // .indentation-2 {
      //   background-color: $secondary-light;
      //   color: $corporative-white;
      // }
    } 

    
  }
  
  table.vue-ads-border {
    border: 0;

    thead {
      visibility: collapse;

      .vue-ads-border-b { // Necesarios los dos para que se elimine el borde
        border-bottom-width: 0;

        & > th {
          border-bottom-width: 0;
        }
      }
    }

    tbody {
      .variation {
        //margin-top: $margin-top-variation;
        font-size: $font-size-variation;
        color: $corporative-white;
        border-radius: $border-radius-small;
        padding: $padding-variation;
      }

      td:not(:first-child) {
        text-align: right;
        //padding: $padding-not-first-child;
        //padding-right: $padding-right-not-first-child;
        min-height: $height-tr;
        border-top-width: 0px !important;
      }

      td:first-child {
        min-height: $height-th;

        span {
          display: flex !important;
        }
      }

      tr:first-child {
        //background-color:  $secondary-light !important;
        //color: $corporative-black;
        td:first-child {
          padding: $padding-first-row;
        }
        td {
          border: 0;
          border-bottom: $border-default;
        }
      }
      tr.last-row-footer {
        background-color: $smart-gray;
        color: $corporative-white;
      }

      tr {
        td:first-child {
          > span:not(.vue-ads-cursor-pointer) {
            padding-left: $padding-left-expand-ico;
          }
        }
      }
    }
  }

  .connotation {
    width: $width-connotation;
    height: $height-connotation;
    margin-left: $margin-left-connotation;
    border-radius: $border-radius-connotation;

    &.positive {
      background-color: $risk-color-minimum;
    }
    &.neutral {
      background-color: $risk-color-medium;
    }
    &.negative {
      background-color: $risk-color-maximum;
    }
  }
}
